.bookItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
   
}

.bookSpine{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      text-orientation: sideways-right;
  writing-mode:sideways-lr;
  padding: 20px;
    width: 50px;
    height: 200px;
    margin-right: 5px;
  background-color: aliceblue;
  border-radius: 2px;
       container-type: inline-size
}


.shelf{
  background-color: rgb(70, 42, 31);
  height: 20px;
  width: 110%;
  margin-bottom: 20px;
}

.name{
  font-size: 9cqi;
}

.author{
  font-size: 6cqi;
}